{% load static %}
<!--Container-->
<section id="page-content" class="index-page">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box box-1">
			<div class="zerogrid">
				<div class="wrap-box">
					<!--Start Box-->
					<div class="content wow fadeInDown" data-wow-delay=".1s" data-wow-duration="1s">
						<div class="row">
							<div class="sm-1-2">
								<div class="wrap-col">
									<div class="about-sum">
										<h3>Проект Зелёная Планета Земля.</h3>
										<p>Этот проект.</p>
										<p>Нужен всем.</p>
										<a class="button button-skin">Поехали!</a>
									</div>
								</div>
							</div>
							<div class="sm-1-2">
								<div class="wrap-col">
									<div class="portfolio-box zoom-effect">
										<img src='{% static "images/10.jpg" %}' class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>