{% load static %}
{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru">
<!--<![endif]-->

<head>

	<!-- Basic Page Needs ================================================== -->
	<meta charset="utf-8">
	<title>{% trans 'Зелёная Планета' %}</title>
	<meta name="description" content="{% trans 'Зелёная Планета' %}">
	<meta name="author" content="https://www.linkedin.com/in/sergei-shurpenkov/">

	<!-- Mobile Specific Metas ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" type="image/png" href='{% static "favicon.ico" %}' />

	<!-- CSS Green Planet Customized ================================================== -->
	<link rel="stylesheet" type="text/css" href='{% static "css/green_planet/custom.css" %}' %}' media="all"/>
	<!-- Definity CSS -->
	<link rel="stylesheet" type="text/css" href='{% static "css/zerogrid.css" %}' %}' media="all"/>
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' media="all"/>
	<link rel="stylesheet" type="text/css" href='{% static "css/menu.css" %}' media="all"/>
	<!-- Lightbox -->
	<!-- link href='{% static "css/lightbox.css" %}' rel="stylesheet" media="all" type="text/css"-->
	<!-- Video Background -->
	<link rel="stylesheet" type="text/css" href='{% static "css/jquery.mb.YTPlayer.min.css" %}' media="all">
	
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href='{% static "css/animate.css" %}' media="all"/>

	<!-- Custom Fonts -->
	<link rel="stylesheet" type="text/css" href='{% static "font-awesome/css/font-awesome.min.css" %}'/>

	<!-- Owl Carousel Assets -->
	<link rel="stylesheet" type="text/css" href='{% static "owl-carousel/owl.carousel.css" %}'/>
	<!-- <link href="'{% static "owl-carousel/owl.theme.css" %}' rel="stylesheet"> -->

	<!-- Imperavi Redactor -->
	<link rel="stylesheet" type="text/css" href='{% static "css/redactor/redactor.min.css" %}'/>

	<!-- JavaScript Styles -->
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
	<!--[if lt IE 9]>
		<script src='{% static "js/html5.js" %}'></script>
		<script src='{% static "js/css3-mediaqueries.js" %}'></script>
	<![endif]-->
	
	<script>
		const CURRENT_LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
		const URL_INDEX = "{% url 'index_view' %}";
		const URL_ABOUT = "{% url 'about_view' %}"
		const URL_LATEST_ARTICLES = "{% url 'latest_articles' %}";
		const URL_ARTICLES = "{% url 'articles' %}";
		const URL_ARTICLE_REPRESENTATIONS = "{% url 'article_representations' %}";
		const DEFAULT_ARTICLE_IMAGE = "{% static 'images/1.jpg' %}";
		const LABEL_PAGE_TITLE = "{% trans 'Зелёная Планета Земля' %}";
		const LABEL_ABOUT = "{% trans 'О проекте' %}";
		const LABEL_READ = "{% trans 'Читать' %}";
		const LABEL_MAIN_PAGE = "{% trans 'Главная' %}";
		const LABEL_SHOW_ARTICLE_DATE = "{% trans 'Дата публикации статьи' %}";
		const LABEL_SHOW_ARTICLE_VIEWS = "{% trans 'Количество просмотров статьи' %}";
		const LABEL_SHOW_ARTICLE_SOURCE = "{% trans 'Источник статьи.' %}";
		const LABEL_NEW_ARTICLE = "{% trans 'Новая статья' %}";
		const LABEL_NEW_ARTICLE_INTRO = "{% trans 'Напишите и опубликуйте статью связанную с сохранением нашей общей Природы.' %}";
		const LABEL_NEW_ARTICLE_AUTHOR = "{% trans 'Автор статьи или публикации' %}";
		const LABEL_NEW_ARTICLE_AUTHOR_ERROR = "{% trans 'пожалуйста напишите имя и фамилию автора статьи, либо авторский псевдоним.' %}";
		const LABEL_NEW_ARTICLE_TITLE = "{% trans 'Заголовок статьи' %}";
		const LABEL_NEW_ARTICLE_TITLE_ERROR = "{% trans 'пожалуйста озаглавьте статью.' %}";
		const LABEL_NEW_ARTICLE_SHORT_DESCRIPTION = "{% trans 'Краткое описание статьи' %}";
		const LABEL_NEW_ARTICLE_SHORT_DESCRIPTION_ERROR = "{% trans 'пожалуйста вкратце опишите статью.' %}";
		const LABEL_NEW_ARTICLE_MAIN_TEXT = "{% trans 'Главный текст статьи' %}";
		const LABEL_NEW_ARTICLE_MAIN_TEXT_ERROR = "{% trans 'пожалуйста напишите статью.' %}";
		const LABEL_NEW_ARTICLE_CATEGORY = "{% trans 'К какому разделу относится статья' %}";
		const LABEL_NEW_ARTICLE_CATEGORY_ERROR = "{% trans 'выберите пожалуйста раздел который лучше всего описывает статью.' %}";
		const LABEL_NEW_ARTICLE_COMBO_EMPTY_OPTION = "{% trans 'Выберите...' %}";
		const LABEL_NEW_ARTICLE_COMBO_MAKE_CHANGES_MYSELF = "{% trans 'Что я могу сделать сам' %}";
		const LABEL_NEW_ARTICLE_COMBO_MAKE_CHANGES_FAMILY = "{% trans 'Что может сделать семья' %}";
		const LABEL_NEW_ARTICLE_COMBO_MAKE_CHANGES_MANKIND = "{% trans 'Что может сделать человечество' %}";
		const LABEL_NEW_ARTICLE_KEYWORDS = "{% trans 'Ключевые слова и словосочетания (через запятую) описывающие статью' %}";
		const LABEL_NEW_ARTICLE_KEYWORDS_ERROR = "{% trans 'пожалуйста напишите хотя бы одно ключевое слово или словосочетание к которым относится эта публикация. Допускаются только буквы и запятые для разделения ключевых слов или словосочетаний.' %}";
		const LABEL_NEW_ARTICLE_ORIGINAL_URL = "{% trans 'Если статья не оригинальная, введите ссылку на источник статьи' %}";
		const LABEL_NEW_ARTICLE_ORIGINAL_URL_ERROR = "{% trans 'пожалуйста введите рабочую ссылку на оригинал статьи.' %}";
		const LABEL_NEW_ARTICLE_PUBLISH = "{% trans 'Опубликовать' %}";
	</script>

	<!-- JavaScript Imperavi Redactor -->
	<script src='{% static "js/redactor/redactor.min.js" %}'></script>
	<script src='{% static "js/redactor/lang/ru.js" %}'></script>
	<script src='{% static "js/redactor/plugins/alignment/alignment.min.js" %}''></script>
	<script src='{% static "js/redactor/plugins/video/video.min.js" %}'></script>

</head>

<body id="page-top">
	<div class="wrap-body">

		<!--////////////////////////////////////Header-->
		<header>
			<div class="wrap-header">

				<!---Main Header--->
				<div class="main-header">
					<div id="bgndVideo" class="player mb_YTPlayer isMuted" data-property="{videoURL:'mcixldqDIEQ',containment:'.main-header',autoPlay:true, mute:true, startAt:10, stopAt:250, opacity:1, addRaster:true, quality:'hd1080', optimizeDisplay:true, showControls:false}"></div>
					<div class="bg-overlay">
						<!---Hero Content--->
						<div class="hero-content-wrapper">
							<div class="hero-content">
								<!---Language selection content--->
								<form id="languageForm" action="{% url 'set_language' %}" method="post">
									{% csrf_token %}
									<input type="hidden" id="language" name="language" value="{{ LANGUAGE_CODE }}"/>
									<div style="padding: 1% 0 2% 0;" class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
										<div class="language">
											{% if LANGUAGE_CODE == 'ru' %}
												<img id="language_ru" src='{% static "images/language_russian_64_on.png" %}' class="img-responsive" alt="Русский" title="Русский"/><br/>Русский
											{% else %}
												<img id="language_ru" src='{% static "images/language_russian_64.png" %}' onclick="changeLanguage('ru')" onmouseover="showLanguageSelection('ru')" onmouseout="hideLanguageSelection()" class="img-responsive" alt="Русский" title="Русский"/><br/>Русский
											{% endif %}
										</div>
										<div class="language">
											{% if LANGUAGE_CODE == 'es' %}
												<img id="language_es" src='{% static "images/language_spanish_64_on.png" %}' class="img-responsive" alt="Español" title="Español"/><br/>Español
											{% else %}
												<img id="language_es" src='{% static "images/language_spanish_64.png" %}' onclick="changeLanguage('es')" onmouseover="showLanguageSelection('es')" onmouseout="hideLanguageSelection()" class="img-responsive" alt="Español" title="Español"/><br/>Español
											{% endif %}
										</div>
										<div class="language">
											{% if LANGUAGE_CODE == 'en' %}
												<img id="language_en" src='{% static "images/language_english_64_on.png" %}' class="img-responsive" alt="English" title="English"/><br/>English
											{% else %}
												<img id="language_en" src='{% static "images/language_english_64.png" %}' onclick="changeLanguage('en')" onmouseover="showLanguageSelection('en')" onmouseout="hideLanguageSelection()" class="img-responsive" alt="English" title="English"/><br/>English
											{% endif %}
										</div>
									</div>
								</form>
								<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">{% trans 'Зелёная Планета Земля' %}</h4>
								<h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">{% trans 'Сохраним' %}<br> {% trans 'достояние Человека' %}</h1>
								<a href="javascript:showAbout()" class="button button-skin wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">{% trans 'О проекте' %}</a>
							</div>
						</div>
						<!---Scroller--->
						<div id="scroll-page-content">
							<a href="#page-content" class="scroller">
								<span class="scroller-text">вниз</span>
								<div class="scroller-button">
									<i class="fa fa-angle-double-down"></i>
								</div>
							</a>
						</div>
					</div>
				</div>

				<!---Top Menu
				<div id="cssmenu">
					<ul>
						<li class="active"><a href=""><span>Главная</span></a></li>
						<li class="has-sub"><a href=""><span>Навигация</span></a>
							<ul>
								<li><a href="javascript:showAndScrollToLatestArticles()"><span>Последние статьи</span></a></li>
								<li><a href="javascript:showAndScrollToArticlesByCategory(1)"><span>{% trans 'Что я могу сделать сам' %}</span></a></li>
								<li><a href="javascript:showAndScrollToArticlesByCategory(2)"><span>{% trans 'Что может сделать семья' %}</span></a></li>
								<li><a href="javascript:showAndScrollToArticlesByCategory(3)"><span>{% trans 'Что может сделать человечество' %}</span></a></li>
								<li><a href="javascript:showAbout()"><span>О проекте</span></a></li>
							</ul>
						</li>
						<li class="last"><a href="#"><span>Контактные данные</span></a></li>
					</ul>
				</div>
				--->

			</div>
		</header>



		<!--////////////////////////////////////Container-->
		<section id="page-content" class="index-page">
			<div class="wrap-container">
				

			<!-----------------content-box-2------------------>
			<section class="content-box box-2 box-style-1">
				<div class="zerogrid-fluid">
					<div class="wrap-box">
						<div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
							<h2>{% trans 'Категории статей о Природе' %}</h2>
							<span class="intro">{% trans 'Вы можете выбрать наиболее интересную для вас тематику о Природе' %}</span>
							<input type="hidden" id="articleKeywordCategoryId" name="articleKeywordCategoryId" value=""/>
						</div>
						<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s" style="width:67%;margin:0 auto;">
							<div class="row">
								<div class="lg-1-3 md-1-3 sm-1-2" style="margin-bottom: 32px;">
									<div class="portfolio-box zoom-effect">
										<img src='{% static "images/PrirodaChelovek.jpg" %}' class="img-responsive" alt="Что могу сделать я сам">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
												<div class="project-name">
													{% trans 'Что я могу сделать сам' %}
												</div>
												<div class="project-category">
													{% trans 'Список статей' %}
												</div>
												<div class="project-button">
													<a href="javascript:showArticlesByCategory(1)" class="button button-skin">{% trans 'Просмотр' %}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="lg-1-3 md-1-3 sm-1-2" style="margin-bottom: 32px;">
									<div class="portfolio-box zoom-effect">
										<img src='{% static "images/PrirodaSemia.jpg" %}' class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
												<div class="project-name">
													{% trans 'Что может сделать семья' %}
												</div>
												<div class="project-category">
													{% trans 'Список статей' %}
												</div>
												<div class="project-button">
													<a href="javascript:showArticlesByCategory(2)" class="button button-skin">{% trans 'Просмотр' %}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="lg-1-3 md-1-3 sm-1-2" style="margin-bottom: 32px;">
									<div class="portfolio-box zoom-effect">
										<img src='{% static "images/PrirodaChelovechestvo.jpg" %}' class="img-responsive" alt="">
										<div class="portfolio-box-caption">
											<div class="portfolio-box-caption-content">
												<div class="project-name">
													{% trans 'Что может сделать человечество' %}
												</div>
												<div class="project-category">
													{% trans 'Список статей' %}
												</div>
												<div class="project-button">
													<a href="javascript:showArticlesByCategory(3)" class="button button-skin">{% trans 'Просмотр' %}</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			

			<!-----------------content-box-3------------------
			<section class="content-box box-3">
				<div class="zerogrid">
					<div class="wrap-box">
						<div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
							<h2>What people are saying</h2>
							<span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
						</div>
						<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="testimonial-cards">
								<div id="owl-slide" class="owl-carousel">
									<div class="item">
										<div class="key-tcards">
											<div class="tcards_message author-bottom">
												<h5 class="tcards-title">Always grateful</h5>
												<p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
											</div>
											<div class="tcards_header">
												<div class="tcards-image"><img src='{% static "images/partner3.png" %}' alt=""></div>
												<h4 class="tcards-name">Elaine T.</h4>
												<p class="tcards-job">Kansas City, Missouri</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="key-tcards">
											<div class="tcards_message author-bottom">
												<h5 class="tcards-title">Thank you!</h5>
												<p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
											</div>
											<div class="tcards_header">
												<div class="tcards-image"><img src='{% static "images/partner2.png" %}' alt=""></div>
												<h4 class="tcards-name">Raymond G.</h4>
												<p class="tcards-job">Sky Valley, California</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="key-tcards">
											<div class="tcards_message author-bottom">
												<h5 class="tcards-title">Efficient collaborating</h5>
												<p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
											</div>
											<div class="tcards_header">
												<div class="tcards-image"><img src='{% static "images/partner1.png" %}' alt=""></div>
												<h4 class="tcards-name">David F.</h4>
												<p class="tcards-job">Chicago, Illinois</p>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="key-tcards">
											<div class="tcards_message author-bottom">
												<h5 class="tcards-title">Friendly staff</h5>
												<p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
											</div>
											<div class="tcards_header">
												<div class="tcards-image"><img src='{% static "images/partner3.png" %}' alt=""></div>
												<h4 class="tcards-name">Elaine T.</h4>
												<p class="tcards-job">Kansas City, Missouri</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			-->

				<!-----------------content-box-4-------------------->
				<section id="latestArticlesSection" class="content-box box-4 box-style-1">
					<div class="zerogrid">
						<div class="wrap-box">
							<div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
								<h2>{% trans 'Статьи' %}</h2>
								<span class="intro">{% trans 'Всё о том как сделать нашу планету' %} <font style="color:#27c100"><strong>{% trans 'Зелёной' %}</strong>.</span>
							</div>
							<div id="latestArticles" class="content wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
							</div>
							<a id="showNextArticlesButton" href="javascript:showNextArticles()" class="button button-skin">{% trans 'Показать следующие статьи' %}</a>
						</div>
					</div>
				</section>

				<!-----------------content-box-5------------------
			<section class="content-box box-5 box-style-2">
				<div class="zerogrid-fluid">
					<div class="wrap-box">
						<div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="clients-logo">
								<div id="owl-brand" class="owl-carousel">
									<div class="item">
										<img src='{% static "images/b1.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b2.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b3.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b4.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b5.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b6.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b7.png" %}' alt="">
									</div>
									<div class="item">
										<img src='{% static "images/b8.png" %}' alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			-->
			<!-----------------content-box-1-------------------->
			<section class="content-box box-1">
				<div class="zerogrid">
					<div class="wrap-box">
						<!--Start Box-->
						<div class="content wow fadeInDown" data-wow-delay=".1s" data-wow-duration="1s">
							<div class="row">
								<div class="sm-1-2">
									<div class="wrap-col">
										<div class="about-sum">
											<h3>{% trans 'Кто мы?' %}</h3>
											<p>{% trans 'Мы - человечество, которое живёт в ресурсном долгу у планеты Земля.' %}</p>
											<p>{% trans 'Мы выявляем проблемы расходов ресурсов Земли.' %}</p>
											<p>{% trans 'Мы ищем различные способы решения проблем.' %}</p>
											<p>{% trans 'Мы применяем эти методы в повседневной жизни.' %}</p>
											<p>{% trans 'Напиши статью и помоги информационно нашей планете!' %}</p>
											<a href="javascript:showAbout()" class="button button-skin">{% trans 'О проекте' %}</a>
										</div>
									</div>
								</div>
								<div class="sm-1-2">
									<div class="wrap-col">
										<div class="portfolio-box zoom-effect">
											<img src='{% static "images/10.jpg" %}' class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			</div>
		</section>

		<!-- Element used for Please Wait, Loading page -->
		<div class="loadingPage"><span class="loadingPage">{% trans 'Пожалуйста подождите...' %}<span></div>

		<!--////////////////////////////////////Footer-->
		<footer id="page-footer">
			<div class="wrap-footer">
				<div class="zerogrid">
					<div class="row">
						<div class="sm-2-4 col-footer-1">
							<div class="wrap-col">
								<h3 class="widget-title">{% trans 'О нас' %}</h3>
								<p>{% trans 'Мы создали эту страницу для вовлечения в проблемы экологии как можно большего числа людей.' %}</p>
								<p>{% trans 'Это требуется для того что бы все вместе мы смогли изменить нас самих и наше будущее к лучшему.' %}</p>
								<ul class="quicklinks">
									<li><a href="">{% trans 'Мы вас не отслеживаем' %}</a></li>
									<li><a href="">{% trans 'Этот сайт является достоянием всех людей' %}</a></li>
								</ul>
							</div>
						</div>
						<div class="sm-1-4 col-footer-2">
							<div class="wrap-col">
								<h3 class="widget-title">{% trans 'Свяжитесь с нами' %}</h3>
								<p>{% trans 'Почта:' %}</p>
								<a href="mailto:sergei.shurpenkov@yandex.com" target="_top"><strong>sergei.shurpenkov@yandex.com</strong></a>
							</div>
						</div>
						<div class="sm-1-4 col-footer-3">
							<div class="wrap-col">
								<h3 class="widget-title">{% trans 'в соц-сетях' %}</h3>
								<ul class="social-buttons">
									<li><a href="https://vk.com/shematizaciya"><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-footer">
				<div class="copyright">
					<div class="zerogrid">
						<div class="row">
							<div class="sm-1-2">
								{% trans 'Авторские права' %} @ - <a href="https://www.zerotheme.com/free-website-templates" rel='nofollow'>{% trans 'веб шаблон' %}</a>
								{% trans 'от' %} <a href='https://www.zerotheme.com'>Zerotheme</a>
							</div>
							<div class="sm-1-2">
								<div id="page-top"><a href="#page-top" class="button button-toTop f-right"><i class="fa fa-angle-double-up"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- ========== Scripts ========== -->
		<script src='{% static "js/jquery-3.1.1.min.js" %}' %}'></script>
		<script src='{% static "js/menu.js" %}'></script>
		<script src='{% static "js/jquery.mb.YTPlayer.min.js" %}'></script>
		<script src='{% static "js/jquery.localScroll.min.js" %}'></script>
		<script src='{% static "js/jquery.scrollTo.min.js" %}'></script>
		<script src='{% static "js/SmoothScroll.js" %}'></script>
		<script src='{% static "js/wow.min.js" %}'></script>

		<!-- Owl Carousel JS -->
		<script src='{% static "owl-carousel/owl.carousel.js" %}'></script>

		<!-- Definity JS -->
		<script src='{% static "js/main.js" %}'></script>

		<!-- JavaScript Ajax CSRF -->
		<script src='{% static "js/csrf/ajax-csrf.js" %}'></script>

		<!-- JavaScript Green Planet -->
		<script>var TOKEN_ELEMENT = '{% csrf_token %}';</script>
		<script src='{% static "js/green_planet/green_planet.js" %}'></script>
		<script type="text/javascript">
			var urlParams = new URLSearchParams(window.location.search);
			var articleId = parseInt(urlParams.get('articleId'));
			if (!isNaN(articleId)) {
				showArticle(articleId);
			} else if (urlParams.get('showNewArticle') == 'true') {
				showNewArticle();
			} else {
				showLatestArticles();
			}
		</script>
	</div>
</body>
</html>