<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <title>Зелёная Планета</title>
</head>

<body>
    Зелёная Планета!
    <section class="section">
        <div class="container">
            <div id="appGreenPlanet" class="columns">
                <!-- React -->
            </div>
        </div>
    </section>
</body>
{% load static %}
<script src='{% static "green_planet_frontend_react/main.js" %}'></script>

</html>